@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url('~@/assets/font/Alibaba-PuHuiTi-Heavy.ttf');
}

@font-face {
  font-family: 'PingFangSC-Regular';
  src: url('~@/assets/font/PingFang Regular.ttf');
}

// @font-face {
// font-family: 'aoboshi-one-regular';
// src: url('~@/assets/font/aoboshi-one-regular.ttf');
// font-weight: normal;
// font-style: normal;
// }
html {
  width: 100%;
  color: $base-font-color;
  background: #fff;
}

body {
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  font-size: 0.12rem;
  color: $base-font-color;
  background: #fff;
  font-family: PingFangSC-Regular, Arial, -apple-system, Noto Sans, Helvetica Neue, Helvetica, Nimbus Sans L, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif !important;
}

#app, .container {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  max-width: 768px;
  margin: 0 auto;
  background: $base-background-color;
}

.container {
  &.index {
    background-image: url('~@/assets/images/home_bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
  }

  &.mint {
    background-image: url('~@/assets/images/mint_bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
  }
}

.sub_wrap {
  width: 100%;
  position: relative;
}

.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}

.clearfix {
  zoom: 1;
}

.animated {
  animation-duration: 0.3s;
}

a {
  color: #888888;
}

.tran {
  transition: all 0.3s ease;
}

html::-webkit-scrollbar, .htmlScroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

/* 定义滚动条轨道 内阴影+圆角 */
html::-webkit-scrollbar-track, .htmlScroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/* 定义滑块 内阴影+圆角 */
html::-webkit-scrollbar-thumb, .htmlScroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bdbdbd;
}

/* 滑块效果 */
html::-webkit-scrollbar-thumb:hover, .htmlScroll::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
}

input {
  border: none;
  outline: none;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
  border-radius: 0;
}

&.animated.fast {
  animation-duration: 0.2s;
}

.common_title {
  width: 100%;
  display: block;
  font-size: 0.2rem;
  font-family: AlibabaPuHuiTi;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 0.28rem;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.Vue-Toastification__container {
  .Vue-Toastification__toast--default {
    background: $base-active-color;
  }
}