// 大屏导航
.header_big {
  width: 100%;
  position: relative;

  .navs_list_wrap {
    width: 100%;
    position: relative;
    font-size: 14px;

    .navs_list {
      width: 100%;
      position: relative;

      // &.dark {
      // .navs .tit {
      // color: #656161;
      // }

      // .language_list h3 {
      // color: #656161;

      // &:before {
      // border-color: #656161 transparent transparent transparent;
      // }

      // &:hover {
      // color: $base-active-color;

      // &:before {
      // border-color: $base-active-color transparent transparent transparent;
      // }
      // }
      // }
      // }
      .navs {
        position: relative;

        &.on {
          .tit {
            color: $base-active-color;

            &:before {
              opacity: 1;
            }
          }
        }

        .tit {
          transition();
          ms('font-size', 12px 13px 14px 15px 16px 16px);
          ms('padding-left', 10px 12px 14px 16px 18px 20px);
          ms('padding-right', 10px 12px 14px 16px 18px 20px);
          ms('padding-top', 5px 6px 7px 8px 9px 10px);
          display: block;
          position: relative;
          color: rgba(255, 255, 255, 0.8);
          line-height: 20px;
          float: left;

          &.router-link-exact-active, &:hover {
            color: $base-active-color;
          }
        }
      }

      .language_list {
        float: right;
        transition: all 300ms ease;
        display: block;
        position: relative;
        color: rgba(255, 255, 255, 0.6);
        line-height: 20px;
        height: 36px;
        display: flex;
        align-items: center;
        ms('font-size', 12px 13px 14px 15px 16px 16px);
        ms('padding-left', 10px 12px 14px 16px 18px 20px);
        ms('padding-right', 30px 32px 34px 36px 38px 40px);
        background: #222326;
        border-radius: 18px;
        cursor: pointer;

        &.active {
          border-radius: 18px 18px 0 0;

          .lang_box {
            border-radius: 0 0 18px 18px;
          }
        }

        h3 {
          color: rgba(255, 255, 255, 0.8);
          transition();
          position: relative;

          &:hover {
            color: #fff;

            &:before {
              border-color: #fff transparent transparent transparent;
            }
          }

          &:before {
            content: '';
            position: absolute;
            right: -16px;
            top: 50%;
            margin-top: -2px;
            width: 0;
            height: 0;
            font-size: 0;
            line-height: 0;
            border-width: 5px;
            border-style: solid dashed dashed dashed;
            border-color: rgba(255, 255, 255, 0.6) transparent transparent transparent;
            transition();
          }
        }

        .lang_box {
          position: absolute;
          left: 0px;
          top: 36px;
          // ms('top', 54px 68px 102px 106px 110px 110px);
          background: #222326;
          width: 100%;
          border-radius: 18px;
          color: #fff;
          font-weight: normal;
          padding-bottom: 10px;

          .lang {
            display: block;
            padding: 10px 0;
            text-align: center;

            &.on, &:hover {
              color: #fff;
              background: #17181b;
            }
          }
        }
      }

      .buy_button {
        float: right;
        ms('padding-top', 2px 2px 3px 3px 4px 4px);
        ms('padding-left', 10px 12px 14px 16px 18px 20px);
        ms('padding-right', 10px 12px 14px 16px 18px 20px);

        .buy_btn {
          color: #F8D690;
          ms('padding-top', 4px 4px 5px 5px 6px 6px);
          ms('padding-bottom', 4px 4px 5px 5px 6px 6px);
          ms('width', 93px 93px 93px 103px 113px 113px);
          text-align: center;
          border-radius: 8px;
          border: 1px solid #F8D690;
          display: inline-block;
          transition: all 0.3s ease;

          &:first-child {
            ms('margin-right', 10px 12px 14px 16px 18px 20px);
          }

          &:hover {
            color: #000;
            background: #F8D690;
          }
        }
      }
    }
  }
}
