// 网站字体
$base-font-color = #fff; // 字体颜色
$base-background-color = #17181b; // 背景颜色
$base-active-color = #FE41E4; // 高亮颜色
$base-title-color = #FE41E4; // 标题颜色
$base-value-color = #BFA2DB; // 列表totla颜色
$base-box-shadow-color = rgba(71, 209, 124, 0.1); // 阴影颜色
// 头部
$base-header-background-color = #17181b;
$base-header-background-active-color = #FE41E4;
$base-header-border-color = #666;
// small
$base-small-nav-color = #fff;
$base-small-nav-activity-color = #FE41E4;
$base-small-background-color = #17181b;
// big
$base-big-nav-color = #fff;
$base-big-nav-activity-color = #FE41E4;
// button
base-button-activity-color = #6454FF;
