.inner_mint {
  width: 100%;
  position: relative;
  padding: 0 0.14rem;

  .donate_content {
    width: 100%;
    position: relative;
    margin-top: 0.12rem;
    padding: 0.12rem 0;
    background-repeat: repeat;
    background-position: center top;
    background-image: url('~@/assets/images/donate_bg.png');
    background-size: cover;
    margin-bottom: 0.19rem;

    h2 {
      font-size: 0.14rem;
      font-weight: bold;
      color: #FFFFFF;
      width: 100%;
      text-align: center;
      margin-bottom: 0.08rem;
    }

    .donate_value {
      width: 0.92rem;
      height: 0.92rem;
      margin: 0 auto;
      display: flex;
      align-items: center;
      padding: 0 0.14rem;
      position: relative;

      img {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }

      .d_v {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 0.16rem;
        font-weight: 500;
        color: #DEBC5C;
        line-height: 0.16rem;

        &.d3 {
          font-size: 0.16rem;
        }

        &.d4 {
          font-size: 0.15rem;
        }

        &.d5 {
          font-size: 0.14rem;
        }

        &.d6 {
          font-size: 0.13rem;
        }

        &.dmore {
          font-size: 0.12rem;
        }
      }
    }

    .donate_time {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 0 0.3rem;

      .times {
        flex: 1;
        text-align: center;
        font-size: 0.08rem;
        font-family: Helvetica;
        color: #979797;
        line-height: 0.12rem;

        span {
          font-size: 0.16rem;
          font-family: Helvetica;
          color: #FFFFFF;
          line-height: 0.2rem;
        }
      }
    }
  }

  .invited_content {
    width: 100%;
    position: relative;
    margin-top: 0.21rem;

    .invited_url {
      width: 100%;
      position: relative;
      margin-bottom: 0.15rem;
      padding: 0.15rem 0.12rem 0.23rem;
      height: 1.25rem;
      background-repeat: repeat;
      background-position: center top;
      background-image: url('~@/assets/images/invited_img.png');
      background-size: 100% 100%;

      .invited_title {
        font-size: 0.16rem;
        line-height: 0.2rem;
        width: 100%;
        position: relative;
        margin-bottom: 0.13rem;
        color: #1B1B17;
        padding: 0 0.07rem 0 0.05rem;

        h3 {
          font-weight: bold;
        }

        .copy_t {
          position: absolute;
          right: 0.07rem;
          top: 50%;
          transform: translate3d(0, -50%, 0);
          font-size: 0.14rem;
          display: flex;
          align-items: center;
          font-weight: bold;

          img {
            width: 0.1rem;
            height: 0.13rem;
            display: block;
          }

          span {
            margin-left: 0.06rem;
          }
        }
      }

      .invited_input {
        width: 100%;
        height: 0.24rem;
        display: flex;
        align-items: center;
        background: #645F52;
        font-size: 0.14rem;
        font-weight: 400;
        color: #F2F2F2;
        padding: 0 0.07rem;

        span {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .invited_text {
        width: 100%;
        position: relative;
        display: block;
        margin-top: 0.11rem;
        font-size: 0.12rem;
        font-weight: 400;
        color: #1B1B17;
        line-height: 0.18rem;
      }
    }

    .next_time_box {
      width: 100%;
      position: relative;
      height: 0.5rem;
      background-repeat: repeat;
      background-position: center top;
      background-image: url('~@/assets/images/time_bg.png');
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 0.2rem;
        font-family: AlibabaPuHuiTi;
        font-weight: bold;
        color: #645F52;
        text-shadow: 1px 2px 1px #000;
      }
    }
  }
}