.footer_bottom {
  width: 100%;
  position: relative;
  padding: 0.27rem 0 0.64rem;

  .footer {
    width: 100%;
    position: relative;

    .relate_icon {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      left: 0;

      a {
        width: 0.3rem;
        margin: 0 0.26rem;
        display: block;

        img {
          width: 100%;
          display: block;
        }

        .one {
          display: block;
        }

        .two {
          display: none;
        }

        &.on {
          &:hover {
            .one {
              display: none;
            }

            .two {
              display: block;
            }
          }
        }
      }
    }

    .copy_right {
      width: 100%;
      position: relative;
      margin-top: 0.24rem;
      font-size: 0.14rem;
      text-align: center;
      line-height: 0.2rem;
    }
  }
}
