.footer_bottom {
  width: 100%;
  position: relative;

  .footer {
    width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
    ms('height', 50px 55px 60px 65px 70px 80px);
    ms('padding-left', 10px 30px 50px 70px 90px 98px);
    ms('padding-right', 10px 30px 50px 70px 90px 98px);
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    align-items: center;

    span {
      font-size: 12px
      font-family: Arial;
      font-weight: bold;
      text-transform: uppercase;
      width: 100%;
      display: block;
      text-align: left;
      color: #7A91B4;
    }

    .foot_relate {
      width: 100%;
      position: relative;
      text-align: right;

      .relate_box {
        display: inline-block;

        a {
          float: left;
          ms('width', 24px 24px 26px 28px 30px 30px);
          ms('margin-left', 9px 11px 14px 17px 20px 20px);
          transition();

          &:hover {
            transform: scale(1.1);
          }

          img {
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
}
